---
//Get from local JSON
let roquetas = await fetch(
    "https://raw.githubusercontent.com/edugemen/Static-DB/main/Roquetas/db.json"
)
    .then((res) => res.json())
    .catch((err) => console.log(err));

const getImageURL = (slug) => {
    return `https://raw.githubusercontent.com/edugemen/Static-DB/main/Roquetas/${slug}.webp`;
};

const isVAM = (partido) => {
    return (
        partido.e1 === "Los Pinguinos de VAMagascar" ||
        partido.e2 === "Los Pinguinos de VAMagascar"
    );
};
---

<article class="w-full p-2 md:w-1/2 m-auto">
    {
        roquetas["AFADE M"].partidos.map((partido) => {
            return (
                <div
                    class="p-2 mb-2 rounded-md min-h-20 flex flex-col"
                    style={{
                        border: isVAM(partido) ? "4px solid #ff6666" : "none",
                        backgroundColor: isVAM(partido)
                            ? "#18B4AC"
                            : "var(--primary-color)",
                    }}
                >
                    <div class="h-full flex flex-row justify-between items-center flex-1 gap-2">
                        <div class="flex flex-col flex-[2] gap-2 justify-start items-center md:flex-row">
                            <img
                                src={getImageURL(partido.slug[0])}
                                class="w-20 h-20 rounded-full"
                            />
                            <p class="text-lg text-center font-semibold">
                                {partido.e1}
                            </p>
                        </div>

                        <div class="flex flex-row flex-1 justify-center items-center gap-2">
                            <p
                                class="text-4xl font-semibold md:text-5xl"
                                style={{
                                    fontFamily: "Kode Mono",
                                }}
                            >
                                {partido.resultado[0]}
                            </p>
                            <p
                                class="text-xl font-semibold md:text-3xl"
                                style={{
                                    fontFamily: "Kode Mono",
                                }}
                            >
                                -
                            </p>
                            <p
                                class="text-4xl font-semibold md:text-5xl"
                                style={{
                                    fontFamily: "Kode Mono",
                                }}
                            >
                                {partido.resultado[1]}
                            </p>
                        </div>
                        <div class="h-full flex flex-col-reverse flex-[2] gap-2 items-center justify-start md:flex-row md:justify-end">
                            <p class="text-lg font-semibold text-center">
                                {partido.e2}
                            </p>
                            <img
                                src={getImageURL(partido.slug[1])}
                                class="w-20 h-20 rounded-full"
                            />
                        </div>
                    </div>
                    <div class="flex flex-row justify-between mt-1">
                        <p>{partido.lugar}</p>
                        <p>{partido.fecha}</p>
                    </div>
                </div>
            );
        })
    }
</article>
